<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">
  <link rel="stylesheet" href="./styles/resete.css">
  <title>PetWork</title>
</head>
<body>
    <header class="header">
      <div> <img src="/assets/logo.svg" alt=""></div>
      <div class="buttons">
        <button>Entrar</button>
      <button>Cadastrar</button>
      </div>
    </header>

    <main id="main-content"></main>

    <div id="loading-overlay">
      <div class="spinner"></div>
    </div>


    <footer>
        <div class="footer-content">
          <div>MVP <a href="https://especializacao.ccec.puc-rio.br/especializacao/desenvolvimento-full-stack" target="_blank">Puc Rio - Pós Graduação Desenvolvimento Full Stack</a></div>
          <div>Lucas Melo<a href="https://github.com/lucas-melo" target="_blank"></a></div>
          <div>© Copyright 2024. All Rights Reserved by </div>
        </div>
    </footer>
</body>
</html>